.Synonyms ul {
  margin-left: -30px;
}
.Synonyms li {
  display: inline-block;
  border: 1px solid grey;
  font-size: 11px;
  padding: 2px;
  margin: 0px;
  border-radius: 10px;
  margin: 2px;
  text-decoration: none;
}
.Synonyms span {
  font-size: 11px;
  font-weight: 1.5;
  color: indigo;
}
